{{ define "main" }}
<p>
    Sales & Marketing Leader | Angel Investor | Future Optimist.
</p>
<h1>About</h1>

<p>
    15+ years in sales and marketing, currently leading a high-performing growth team of 30 people at Google.

    Helping businesses drive profitable growth using AI-powered ad solutions and bespoke insights.

    Beyond my corporate role, I'm deeply passionate about the startup ecosystem. With 8+ years specifically advising startups on growth strategies, I also actively support and invest in promising ventures.
</p>
<br />

<h1>Investing</h1>

<p>Past investments include:</p>
<ul>
    <li><a href="https://www.perplexity.ai/">Perplexity</a>, <a href="https://x.ai/">xAI</a>, <a href="https://wander.com/">Wander</a>, <a href="https://beehiiv.com/">beehiiv</a>, <a href="https://extropic.com/">Extropic</a>, <a href="https://www.micro1.ai/">micro1</a>, <a href="https://www.armada.ai/">Armada</a>, <a href="https://www.lambda.ai/">Lambda</a>, <a href="https://www.impulsespace.com/">Impulse Space</a></li>
    <li>65+ investments, with a focus on AI and the space economy.</li>
</ul>

    <p>'AI will be the most transformative technology of the 21st century.' -Jensen Huang</p>
    <p>'The next trillionaire will be made in space.' -Dylan Taylor</p>
<br/>

<div class="experience-section">

    <h1>Career</h1>

    <h3>Google (2017-Present)</h3>

    <h4>Head of Sales, Commerce (2024-Present)</h4>
    <ul>
        <li>Lead a team of 30 sellers and managers, overseeing an $850M+ ARR business.</li>
        <li>Architect go-to-market strategies, build infrastructure, and foster cross-functional collaboration to close deals and solve complex client challenges.</li>
        <li>Drive executive relationships to deliver tailored, AI-driven advertising solutions.</li>
    </ul>

    <h4>Management Roles, Commerce Sales (2020-2024)</h4>
    <ul>
        <li>Led Account Strategist teams to consistently surpass client growth and satisfaction goals.</li>
        <li>Spearheaded GTM for a multi-hundred-million-dollar business, leveraging AI-powered Google and YouTube solutions.</li>
        <li>Delivered bespoke, data-driven insights to maximize client ROI.</li>
    </ul>

    <h4>Strategic Account Management (2017-2020)</h4>
    <ul>
        <li>Managed a $XXXM book of business as Senior Account Strategist for 30 corporate accounts.</li>
        <li>Drove significant growth through advanced digital marketing strategies, AI/ML, and full-cycle sales leadership.</li>
        <li>Mentored teams and optimized client outcomes through rigorous data analysis.</li>
    </ul>

    <h3>Marriott (2009-2017)</h3>
    <ul>
        <li>Progressed through sales leadership roles, consistently exceeding revenue targets.</li>
        <li>Developed and executed high-impact sales strategies, managing diverse portfolios and delivering C-level presentations.</li>
        <li>Earned multiple top awards for driving revenue growth, landing large deals, and market penetration.</li>
    </ul>

</div>

<h1>Latest posts</h1>

<div class="posts-list">
    {{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
    <div class="post">
        <p>
            <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </p>
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}